{{ form_start(form) }}
<div class="container">
    <div class="row">
        <div class="col-6">
            {{ form_row(form.number, label='Número') }}
        </div>
        <div class="col-6">
            {{ form_row(form.price, label='Preu') }}
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            {{ form_row(form.date, label='Data') }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.customer, label='Client') }}
        </div>
        <div class="col">
            {{ form_row(form.customerOrder, label='Ordre del client') }}
        </div>
    </div>
</div>

    {{ form_widget(form) }}
<div id="divBotons" class="d-flex justify-content-center gap-2">
    <button class="btn btn-success ">{{ button_label|default('Save') }} </button>
    <button class="btn btn-secondary "><a class="text-decoration-none text-light" href="{{ path('app_invoice_index') }}">Torna enrere</a></button>
</div>
{{ form_end(form) }}
