{{ form_start(form) }}
<div class="container">
    <div class="row pt-2">
        <div class="col-6">
            {{ form_label(form.number, 'Número') }}
            {{ form_widget(form.number) }}
        </div>
        <div class="col-6">
            {{ form_label(form.price, 'Preu') }}
            {{ form_widget(form.price) }}
        </div>
    </div>
    <div class="row pt-2">
        <div class="col ">
            {{ form_label(form.date, 'Data') }}
            {{ form_widget(form.date) }}
        </div>
    </div>
    <div class="row pt-2">
        <div class="col">
            {{ form_label(form.customer, 'Client') }}
            {{ form_widget(form.customer) }}
        </div>
        <div class="col">
            {{ form_label(form.customerOrder, 'Ordre del client') }}
            {{ form_widget(form.customerOrder) }}
        </div>
    </div>
</div>

<div id="divBotons" class="d-flex justify-content-center gap-2 pt-4">
    <button class="btn btn-success ">{{ button_label|default('Save') }}</button>
    <button class="btn btn-secondary "><a class="text-decoration-none text-light" href="{{ path('app_invoice_index') }}">Torna enrere</a></button>
</div>
{{ form_end(form) }}
