{% extends 'base_back_2.html.twig' %}

{% block title %}Invoice index{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('equip3/css/llistaInvoices.css') }}">
{% endblock %}

{% block body %}
            <h1>Lista de Facturas</h1>
            <div {{ vue_component('InvoiceUpdateModal') }}></div>
            <div id="div-table" class="table table-striped min-vw-100"{{ vue_component('InvoiceList_component', {'invoices': paginatedInvoices.items})}} ></div>


    <div class="navigation d-flex justify-content-center mt-3" >
        {{ knp_pagination_render(paginatedInvoices) }}
    </div>
{% endblock %}