{% extends 'base_back_2.html.twig' %}

{% block title %}Detalles de factura{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}

    <section class="contingut">
        <h1>Detalles de factura
        </h1>
        <div id="invoice-table" class="d-sm-flex d-none">
            <table class="border-0 table table-striped w-50 d-flex ">
                <tbody class="w-100">
                <tr class="d-flex">
                    <th class="w-25">ID:</th>
                    <td class="w-75" data-title="Id:">{{ invoice.id }}</td>
                </tr>
                <tr class="d-flex">
                    <th class="w-25">Número</th>
                    <td class="w-75" data-title="Numero:">{{ invoice.number }}</td>
                </tr>
                <tr class="d-flex">
                    <th class="w-25">Precio:</th>
                    <td class="w-75" data-title="Precio:">{{ invoice.price }}</td>
                </tr>
                <tr class="d-flex">
                    <th class="w-25">Fecha:</th>
                    <td class="w-75" data-title="Fecha:">{{ invoice.date ? invoice.date|date('Y-m-d') : '' }}</td>

                </tr>
                {% if invoice.customerOrder.vehicles is not empty %}
                    <tr>
                        <th>Vehicles</th>
                        {% for vehicle in invoice.customerOrder.vehicles %}
                        <td>
                            {{ vehicle.model.brand.name }} {{ vehicle.model.name }}<br>
                            <strong>Plate:</strong> {{ vehicle.plate }}<br>
                            <strong>Buy Price:</strong> {{ vehicle.buyPrice }} €<br>
                        </td>
                        {% endfor %}
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>


    </section>
    <div class="d-flex flex-row justify-content-center align-items-center gap-2 ">
        <a href="{{ path('app_invoice_index') }}">
            <button class="btn btn-secondary" ><i class="fas fa-arrow-left"></i> Back to list</button>
        </a>

        <a href="{{ path('app_invoice_edit', {'id': invoice.id}) }}">
            <button class="btn btn-info text-white">Edit <i class="fas fa-pencil-alt"></i></button>
        </a>

        {{ include('invoice/_delete_form.html.twig') }}
    </div>
    </main>


{% endblock %}