{% extends 'base_back_3.html.twig' %}

{% block title %}Imatge{% endblock %}

{% block body %}
    <h1>Afegir imatges</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{#     {% if image is not empty %}
        <div class="row">
            {% for img in image %}
                <div class="col-md-3">
                    <img src="{{ vich_uploader_asset(img, 'imageFile') }}" alt="Imatge">
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No images available.</p>
    {% endif %}
    <div class="d-flex mt-3 mb-3">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{{ path('app_vehicle_index') }}"
           class="link-underline link-underline-opacity-0 btn btn-secondary text-light mx-2">Back to list</a>
    </div> #}
{% endblock %}