{% extends 'base_3.html.twig' %}
{% block title %} Especificacions {% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block body %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="carName">
                        <h1 class="d-flex justify-content-center mb-3">{{ vehicle.model.brand.name }} {{ vehicle.model.name }}</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8 d-block d-sm-flex m-auto">
                    <div>
                        <div id="CarrouselDetails{{ vehicle.model.brand.name }}" class="carousel slide mr-2">
                            <div class="carousel-inner mh-100">
                                {% for key, image in vehicle.images %}
                                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                                        <img src="{{ asset("/equip3/img/vehicles/" ~ image.filename) }}"
                                             class="d-block w-100 object-fit-cover rounded-top"
                                             alt="image {{ vehicle.model.name }}">
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#CarrouselDetails{{ vehicle.model.brand.name }}"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#CarrouselDetails{{ vehicle.model.brand.name }}"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                </div>
                <div class="col-4 d-flex">
                    <div id="payment bg-sm-secondary pl-2">
                        <div class="prices">
                            <p id="totalCost" class="fs-1 text-center">{{ vehicle.sellPrice }}€</p>
                            <div id="separatorPayment-div">
                                <hr>
                            </div>
                            <div class="priceInfo text-center">
                                <p id="feeTime" class="fs-3">Quota / 24 mesos</p>
                                <p id="pricePerMonth" class="fs-3">8.333,33€ / Mes</p>
                            </div>
                        </div>
                        <div class="actions d-flex flex-sm-row">
                            <a class="btn bg-secondary-BHEC m-2 p-3" href="{{ path('app_catalogue_add_vehicle', {'id': vehicle.id })}}">Afegir al Garatge </a>

                            <a class="btn bg-secondary-BHEC m-2 p-3">Desitje <img src="{{ asset("/equip3/img/icones/llistaDeDesitjos-GrocOscur.png") }}" alt="wishlist"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="carCaracteristics d-flex justify-content-between text-center m-auto">
                        <div class="caracteristic m-2 text-center">
                            <img src="{{ asset("/equip3/img/icones/canvi-GrocOscur.png") }}" alt="gearShift"
                                 class="caracteristicImg">
                            <h3 class="caracteristicName">Marxes</h3>
                            <p class="caracteristicInfo">{{ vehicle.gearShit }}</p>
                        </div>
                        <div class="caracteristic m-2" >
                            <img src="{{ asset("/equip3/img/icones/color-GrocOscur.png") }}" alt="gearShift"
                                 class="caracteristicImg">
                            <h3 class="caracteristicName">Color</h3>
                            <p class="caracteristicInfo">{{ vehicle.color }}</p>
                        </div>
                        <div class="caracteristic m-2">
                            <img src="{{ asset("/equip3/img/icones/combustible-GrocOscur.png") }}" alt="gearShift"
                                 class="caracteristicImg">
                            <h3 class="caracteristicName">Carburant</h3>
                            <p class="caracteristicInfo">{{ vehicle.fuel }}</p>
                        </div>
                        <div class="caracteristic m-2">
                            <img src="{{ asset("/equip3/img/icones/matricula-GrocOscur.png") }}" alt="gearShift"
                                 class="caracteristicImg">
                            <h3 class="caracteristicName">Matriculació</h3>
                            <p class="caracteristicInfo">{{ vehicle.registrationDate|date('Y') }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
                <div class="col-12">
                </div>
            </div>
                    <div class="accordion accordion-flush d-flex justify-content-center" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <p class="fs-2 m-0 ">Més informació</p>
                                </div>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="text-center">
                                    <img src="{{ asset("/equip3/img/icones/matricula-GrocOscur.png") }}" alt="plate" class="mb-2">
                                    <h3 class="caracteristicsName">Matricula</h3>
                                    <p class="caracteristicInfo">{{ vehicle.plate }}</p>
                                </div>
                                <div class="text-center">
                                    <img src="{{ asset("/equip3/img/icones/descripcio-GrocOscur.png") }}" alt="description"
                                         class="mb-2">
                                    <h3 class="caracteristicsName">Descripció</h3>
                                    <p class="caracteristicInfo">{{ vehicle.description }}</p>
                                </div>
                                <div class="text-center">
                                    <img src="{{ asset("/equip3/img/icones/estat-GrocOscur.png") }}" alt="state"
                                         class="mb-2">
                                    <h3 class="caracteristicsName">Estat</h3>
                                    <p class="caracteristicInfo">{% if vehicle.isNew %}
                                            Nou{% else %}
                                            Seminou{% endif %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </main>

{% endblock %}