{% extends 'base_back_3.html.twig' %}

{% block title %}Vehicle index{% endblock %}

{% block body %}
    <h1>Vehicle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Plate</th>
                <th>ObservedDamages</th>
                <th>Kilometers</th>
                <th>BuyPrice</th>
                <th>SellPrice</th>
                <th>Fuel</th>
                <th>Iva</th>
                <th>Description</th>
                <th>ChassisNumber</th>
                <th>GearShit</th>
                <th>IsNew</th>
                <th>TransportIncluded</th>
                <th>Color</th>
                <th>RegistrationDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.id }}</td>
                <td>{{ vehicle.plate }}</td>
                <td>{{ vehicle.observedDamages }}</td>
                <td>{{ vehicle.kilometers }}</td>
                <td>{{ vehicle.buyPrice }}</td>
                <td>{{ vehicle.sellPrice }}</td>
                <td>{{ vehicle.fuel }}</td>
                <td>{{ vehicle.iva }}</td>
                <td>{{ vehicle.description }}</td>
                <td>{{ vehicle.chassisNumber }}</td>
                <td>{{ vehicle.gearShit }}</td>
                <td>{{ vehicle.isNew ? 'Yes' : 'No' }}</td>
                <td>{{ vehicle.transportIncluded ? 'Yes' : 'No' }}</td>
                <td>{{ vehicle.color }}</td>
                <td>{{ vehicle.registrationDate ? vehicle.registrationDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_vehicle_show', {'id': vehicle.id}) }}">show</a>
                    <a href="{{ path('app_vehicle_edit', {'id': vehicle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vehicle_new') }}">Create new</a>
{% endblock %}
