{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success" formaction="{{ path('app_employee_new') }}">{{ button_label|default('Crear') }}</button>
    <a class="btn btn-danger" href="{{ path('app_employee_index') }}">Cancelar</a>
{{ form_end(form) }}
