{% extends 'base.html.twig' %}

{% block title %}Empleat{% endblock %}

{% block body %}
    <h1>{{ employee.name }} {{ employee.lastname }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ employee.name }}</td>
            </tr>
            <tr>
                <th>Cognom</th>
                <td>{{ employee.lastname }}</td>
            </tr>
            <tr>
                <th>Tipus</th>
                <td>{{ employee.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_employee_edit', {'id': employee.id}) }}" class="btn btn-primary">Editar</a>
{% endblock %}
