<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Secció de logotip i navegació -->
                <div class="logo">
                    <!-- Enllaç del logotip -->
                    <a href="{{ path('templates') }}">
                        <!-- Imatge del logotip -->
                        <img src="{{ asset('equip3/img/logoBHEC.png')}}" class="img-logo-header">
                    </a>
                    <!-- Navegació amb icona d'usuari -->
                    <nav class="grup-icones">
                        <ul>
                            <li>
                                <!-- Enllaç de l'ícona d'usuari -->
                                <a>
                                    <!-- Imatge de l'ícona d'usuari -->
                                    <img src="{{ asset('equip3/img/usuari-Groc.png')}}"  alt="usuari" onclick=openMenuModal()>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <nav id="menu-mobile">
                        <div onclick=burguer() id="burger" class="">
                            <span class="line1"></span>
                            <span class="line2"></span>
                            <span class="line3"></span>
                        </div>
                        <div class="ocultMenu">
                            <nav id="main-menu">
                                <ul>
                                    <li class="submenu"><a><i class="fas fa-file-invoice"></i> Factures <i class="fas fa-chevron-right"></i></a>
                                        <ul class="submenu-content">
                                            <li><a {{ path('app_invoice_index')}}>Visualitzar Factures</a></li>
                                        </ul>
                                    </li>
                                    <li class="submenu"><a><i class="fas fa-users"></i> Clients <i class="fas fa-chevron-right"></i></a>
                                        <ul class="submenu-content">
                                            <li><a href="#">Alta de Client</a></li>
                                            <li><a href="#">Visualitzar Clients</a></li>
                                        </ul>
                                    </li>
                                    <li class="submenu"><a><i class="fas fa-user-tie"></i> Empleats </a><i class="fas fa-chevron-right"></i>
                                        <ul class="submenu-content">
                                            <li><a href="{{ path('app_provider_new')}}">Alta Proveïdor</a></li>
                                            <li><a href="{{ path('app_provider_index')}}">Visualitzar Proveïdors</a></li>
                                        </ul>
                                    </li>
                                    <li class="submenu">
                                        <a><i class="fas fa-shopping-cart"></i> Comandes <i class="fas fa-chevron-right"></i></a>
                                        <ul class="submenu-content">
                                            <li><a href="{{ path('app_order_index')}}">Visualitzar Comandes</a></li>
                                        </ul>
                                    </li>
                                    <li class="submenu">
                                        <a><i class="fas fa-car"></i> Vehicles <i class="fas fa-chevron-right"></i></a>
                                        <ul class="submenu-content">
                                            <li><a href="#">Alta Vehicle</a></li>
                                            <li><a href="{{ path('app_catalogue_index')}}">Visualitzar Vehicles</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <div id="menu-modal" class="menu-modal">
        <div class="menu-content">
            <a href="#" class="close-button" onclick="closeMenuModal()">&times;</a>
            <div class="user-info">
                <img src="{{ asset('equip3/img/usuari.png') }}" alt="Imagen de perfil">
                <div class="user-details">
                    {% if app.user %}
                        <h3>{{ app.user.username }}</h3>
                        {% if app.user.customer %}
                            <p>{{ app.user.customer.email }}</p>
                        {% endif %}
                    {% else %}
                        <h3>Tu Nombre</h3>
                        <p>correo@example.com</p>
                    {% endif %}
                </div>
            </div>
            <ul class="menu-links">
                <ul class="dropdown">
                    {% if not app.user %}
                    <li id="tancar-sessio"><a href="{{ path('app_login') }}"  class="fs-4">Iniciar Sessió</a></li>
                    <li><a href="">Mi Perfil</a></li>
                    <li><a href="">Mis Compras</a></li>
                    <li><a href="">Domicilio</a></li>
                    {% else %}
                    {% if app.user.customer %}
                    <li><a href="">Mi Perfil</a></li>
                    <li><a href="{{ path('app_garage_index') }}">Mis Compras</a></li>
                    <li><a href="">Domicilio</a></li>
                </ul>
                <ul class="dropdown">
                    <li onclick=openAdmin()>Configuracio</li>
                    <ul class="dropdown-content" id="administration-menu">
                        <li><a href="#">Configuració del compte</a></li>
                        <li><a href="#">Cookies</a></li>
                    </ul>
                </ul>
            </ul>
            {% else %}
                <ul>
                <li><a href="{{ path('app_front_office') }}">Pagina Principal</a></li>
                <li><a href="{{ path('app_back_office') }}">Pagina de Administració</a></li>
                </ul>
                <ul class="dropdown">
                    <li onclick=openAdmin()>Configuracio</li>
                    <ul class="dropdown-content" id="administration-menu">
                        <li><a href="#">Configuració del compte</a></li>
                        <li><a href="#">Cookies</a></li>
                    </ul>
                </ul>
                </ul>
            {% endif %}
            {% endif %}
        </div>
        <div id="banda-amb-logo">
            <div id="rectangle-blau">
                <p id="titol-rectangle">BHEC</p>
                <div id="cercle-gris">
                    <img src="{{ asset('equip3/img/logoBHEC.png') }}" alt="Imagen del semicírculo">
                </div>
            </div>
        </div>

        <div id="div-sessio">
            <ul>

                {% if app.user %}
                    <li id="tancar-sessio"><a href="{{ path('app_logout') }}" class="fs-4">Tancar Sessió</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>