<header class="container-fluid">
    <div class="row div-header">
        <div class="col-12">
            <nav class="first-nav">
                <a href="{{ path('app_front_office') }}">
                    <img src="{{ asset('equip3/img/logoBHEC.png') }}" alt="logo BHEC" width="50px">
                </a>
                <ul class="hidden">
                    <li>
                        <a href="{{ path('app_catalogue_index') }}">Catàleg</a>
                    </li>
                    <li>
                        <a href="#">Contacte</a>
                    </li>
                </ul>
            </nav>

            <div class="searcher-header hidden">
                <div>
                    <input type="text" class="input-searcher-header" placeholder="Buscar...">
                    <button class="button-searcher-header"><i class="fas fa-search"></i></button>
                </div>
            </div>

            <nav class="header-icons">
                <ul>
                    <li class="hidden-desktop">
                        <a href="#">
                            <img src="{{ asset('equip3/img/busqueda-Groc.png') }}" alt="Imatge Lupa" id="busqueda">
                        </a>
                    </li>
                    <li class="hidden">
                        <a href="#">
                            <img src="{{ asset('equip3/img/notificacio-Groc.png') }}" alt="Imatge Notificació" id="notificacio">
                        </a>
                    </li>
                    <li class="hidden">
                        <a href="#">
                            <img src="{{ asset('equip3/img/llistaDeDesitjos-Groc.png') }}" alt="Imatge Llista De Dessitjos"
                                 id="desitjos"/>
                        </a>
                    </li>
                    <li data-controller="vehicles-count">
                        <a href="{{ path('app_garage_index') }}" class="position-relative">
                            <img src="{{ asset('equip3/img/garatge-Groc.png') }}" alt="Imatge Garatge" id="garatge">
                            <span class="position-absolute start-100 translate-middle badge rounded-pill bg-danger" id="garage-count" data-vehicles-count-target="counter">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="{{ asset('equip3/img/usuari-Groc.png') }}" alt="Imatge Usuari" onclick="openMenuModal()">
                        </a>
                    </li>
                    <li>
                        <nav id="menu-mobile">
                            <div id="burger">
                                <span class="line1"></span>
                                <span class="line2"></span>
                                <span class="line3"></span>
                            </div>
                            <div class="ocultMenu">
                                <nav id="main-menu">
                                    <ul>
                                        <li>
                                            <a href="{{ path('app_catalogue_index') }}">
                                                Catàleg
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/contacte.html">
                                                Contacte
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/contacte.html">
                                                Notificacions
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </nav>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    <div id="menu-modal" class="menu-modal">
        <div class="menu-content">
            <a href="#" class="close-button" onclick="closeMenuModal()">&times;</a>
            <div class="user-info">
                <img src="{{ asset('equip3/img/usuari.png') }}" alt="Imagen de perfil">
                <div class="user-details">
                    {% if app.user %}
                        <h3>{{ app.user.username }}</h3>
                        {% if app.user.customer %}
                            <p>{{ app.user.customer.email }}</p>
                        {% endif %}
                    {% else %}
                        <h3>Tu Nombre</h3>
                        <p>correo@example.com</p>
                    {% endif %}
                </div>
            </div>
            <ul class="menu-links">
                <ul class="dropdown">
                    {% if not app.user %}
                        <li id="tancar-sessio"><a href="{{ path('app_login') }}"  class="fs-4">Iniciar Sessió</a></li>
                        <li><a href="">Mi Perfil</a></li>
                        <li><a href="">Mis Compras</a></li>
                        <li><a href="">Domicilio</a></li>
                    {% else %}
                        {% if app.user.customer %}
                        <li><a href="">Mi Perfil</a></li>
                        <li><a href="{{ path('app_garage_index') }}">Mis Compras</a></li>
                        <li><a href="">Domicilio</a></li>
                        </ul>
                        <ul class="dropdown">
                            <li onclick=openAdmin()>Configuracio</li>
                            <ul class="dropdown-content" id="administration-menu">
                                <li><a href="#">Configuració del compte</a></li>
                                <li><a href="#">Cookies</a></li>
                            </ul>
                        </ul>
                        </ul>
                        {% else %}
                            <li><a href="{{ path('app_front_office') }}">Pagina Principal</a></li>
                            <li><a href="{{ path('app_back_office') }}">Pagina de Administració</a></li>
                                <ul class="dropdown">
                                    <li onclick=openAdmin()>Configuracio</li>
                                    <ul class="dropdown-content" id="administration-menu">
                                        <li><a href="#">Configuració del compte</a></li>
                                        <li><a href="#">Cookies</a></li>
                                    </ul>
                                </ul>
                            </ul>
                        {% endif %}
                    {% endif %}
        </div>
        <div id="banda-amb-logo">
            <div id="rectangle-blau">
                <p id="titol-rectangle">BHEC</p>
                <div id="cercle-gris">
                    <img src="{{ asset('equip3/img/logoBHEC.png') }}" alt="Imagen del semicírculo">
                </div>
            </div>
        </div>

        <div id="div-sessio">
            <ul>

                {% if app.user %}
                    <li id="tancar-sessio"><a href="{{ path('app_logout') }}" class="fs-4">Tancar Sessió</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>