<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Encuentra una amplia selección de coches nuevos y usados en venta.
           Explora nuestro inventario de marcas populares y modelos, y encuentra el
           coche perfecto para ti. Ofrecemos opciones de financiamiento y entrega a domicilio.
           ¡Visítanos ahora para encontrar tu próximo coche!">

    <title>Back Office</title>


    <link href="{{ asset('equip2/css/variables.css') }}" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }} {# Carga todos los componentes de VUE #}
    {% endblock %}
</head>


<body class="bg-quaternary-BHEC">

{# HEADER #}
<header class="bg-primary-BHEC py-0" {{ vue_component('Header_back_component') }}></header>

<main>
    <div {{ vue_component('Modal_component', {'user': app.user}) }}></div>
    <div class="container-fluid">
        <div class="row">
            {# ASIDE #}
            <aside class="col-sm-2 bg-Aside-BHEC text-white collapse d-sm-block p-0"
                   id="collapseAside" {{ vue_component('Aside_back_component') }}></aside>
            <section class="col-lg-10 col-md-12">
                {% block body %}

                {% endblock %}
            </section>
        </div>
    </div>
</main>

<footer class="container-fluid p-3 bg-primary-BHEC" {{ vue_component('Footer_back_component') }}></footer>
</body>
</html>