<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Front Office{% endblock %}</title>

    {# <--- Estilos ---> #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link  href="{{ asset('equip3/css/Normalize.css') }}" rel="stylesheet">
    <link  href="{{ asset('equip3/css/grid.css') }} " rel="stylesheet">
    <link  href="{{ asset('equip3/css/variables.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('equip3/css/modal.css') }}">
    <link  href="{{ asset('equip3/css/squeleton-frontend.css') }}" rel="stylesheet">

    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}

    {# <--- Scripts ---> #}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="{{ asset('equip3/js/menu-burguer.js') }}" defer></script>
  {#<script src="{{ asset('equip3/js/searchbar.js') }}" defer ></script>#}
    <script src="{{ asset('equip3/js/modal.js') }}" defer ></script>


    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
</head>
<body>
{% include '_header_front_3.html.twig' %}
{% for label, messages in app.flashes %}
    {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    {% endfor %}
{% endfor %}

{% block body %}
{% endblock %}

<footer class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!-- Div per controlar tot el contingut sense aplicar classes i id's a column -->
            <div class="self-container">
                <!-- Div per estructurar el logo i el nom de l'empresa -->
                <div class="nom-logo">
                    <img src="{{ asset('equip3/img/logoBHEC.png') }}" alt="Logotip Empresa" width="50px">
                    <h3>BHEC</h3>
                </div>
                <!-- Línia separadora -->
                <hr class="separator"/>

                <!-- Llista amb els enllaços corresponents -->
                <ul class="footer-menu">
                    <li>
                        <a href="{{ path('app_f_a_q')}}">FAQ</a>
                    </li>
                    <li>
                        <a href="#">Terminis i Condicions</a>
                    </li>
                    <li>
                        <a href="#">Política de Privacitat</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</footer>
</body>
</html>
