<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BackOffice{% endblock %}</title>

    {# <--- Estilos ---> #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.6/css/jquery.dataTables.css">
    <link rel="stylesheet" href="{{ asset('equip3/css/variables.css') }}">
    <link rel="stylesheet" href="{{ asset('equip3/css/modal.css') }}">
    <link rel="stylesheet" href="{{ asset('equip3/css/backend-skeleton.css') }}">

    {# <--- Scripts ---> #}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="{{ asset('equip3/js/menu-burguer.js') }}" defer></script>
    <script src="{{ asset('equip3/js/menu_aside.js') }}" defer></script>
    <script src="{{ asset('equip3/js/modal.js') }}" defer></script>



    {% block javascripts %}
        {{ encore_entry_script_tags('app') }} {# Carga todos los componentes de VUE #}
        <script src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.min.js" defer></script>
    {% endblock %}
</head>

<body>
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endfor %}
{# Header #}
{% include '_header_back_3.html.twig' %}

{# Secció de contingut principal #}
<main>
    <div class="container-fluid">
        <div class="row">
            {% include '_aside_back_3.html.twig' %} {# Aside de Back #}
            <article class="col-10">
                {% block body %}
                {% endblock %}
            </article>
        </div>
    </div>
</main>


{# Footer #}
{% include '_footer_back_3.html.twig' %}

</body>

</html>