<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Front Office{% endblock %}</title>

    {# <--- Estilos ---> #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link  href="{{ asset('equip3/css/variables.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('equip3/css/modal.css') }}">
    <link  href="{{ asset('equip2/css/variables.css') }}" rel="stylesheet">

    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}

    {# <--- Scripts ---> #}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="{{ asset('equip3/js/menu-burguer.js') }}" defer></script>
    <script src="{{ asset('equip3/js/modal.js') }}" defer ></script>


    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
</head>
<body class="bg-quaternary-BHEC font">

<header class="bg-primary-BHEC py-2" {{ vue_component('Header_front_component')}}></header>

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
    {% endfor %}
{% endfor %}

<!-- MAIN -->
<main class="container-fluid container-xl">
    <!-- MODAL -->
    <article>
    {% if app.user.customer %}
        <div {{ vue_component('Modal_component', {'user': app.user, 'type': "customer", 'name': app.user.customer.name , 'email': app.user.customer.email}) }}></div>
        {% elseif app.user.employee %}
            <div {{ vue_component('Modal_component', {'user': app.user, 'type': "employee", 'name': app.user.employee.name}) }}></div>
    {% endif %}
{% block body %}

{% endblock %}
 </article>
</main>
<footer class="container-fluid bg-primary-BHEC" {{ vue_component('Footer_component') }}/>
</body>
</html>
