<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Back Office</title>


    <link  href="{{ asset('equip2/css/variables.css') }}" rel="stylesheet">
    <link  href="{{ asset('equip2/css/paginador.css') }}" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }} {# Carga todos los componentes de VUE #}
    {% endblock %}
</head>


<body class="bg-quaternary-BHEC">

{# HEADER #}
<header class="bg-primary-BHEC py-0" {{ vue_component('Header_back_component')}}></header>

<main class="m-0">
    <div {{ vue_component('Modal_component', {'user': app.user}) }}></div>
    <div class="container-fluid">
        <div class="row">
            {# ASIDE #}
            <aside class="col-sm-2 bg-Aside-BHEC text-white collapse d-sm-block p-0" id="collapseAside" {{ vue_component('Aside_back_component')}}></aside>
            <section class="col-12 col-md-10">
                {% block body %}

                {% endblock %}
            </section>
        </div>
    </div>
</main>

<footer class="container-fluid p-3 bg-primary-BHEC" {{ vue_component('Footer_back_component')}}></footer>
</body>
</html>