<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BackOffice{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }} <!-- BOOSTRAP -->
    {% endblock %}

    <link rel="stylesheet" href="{{ asset('equip1/css/Normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('equip1/css/grid.css') }}">
    <link rel="stylesheet" href="{{ asset('equip1/css/variables.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="{{ asset('equip1/css/backend-skeleton.css') }}">
    <link rel="stylesheet" href="{{ asset('equip1/css/taules.css') }}">
    <link rel="stylesheet" href="{{ asset('equip1/css/modal.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="{{ asset('equip1/js/menu-burguer.js') }}" defer></script>
    <script src="{{ asset('equip1/js/menu_aside.js') }}" defer></script>
    <script src="{{ asset('equip1/js/modal.js') }}" defer></script>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

    {% endblock %}
</head>

<body>
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="logo">
                    <a href="">
                        <img src="{{ asset('equip1/img/logoBHEC.png') }}"
                             class="img-logo-header" alt="logo">
                    </a>
                    <nav class="grup-icones">
                        <ul>
                            <li>
                                <a>
                                    <img src="{{ asset('equip1/img/usuari-Groc.png') }}" alt="usuari" id="usuari">
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <nav id="menu-mobile">
                        <div id="burger" class="">
                            <span class="line1"></span>
                            <span class="line2"></span>
                            <span class="line3"></span>
                        </div>
                        <div class="ocultMenu">
                            <nav id="main-menu">
                                <ul>
                                    <li class="submenu">
                                        <i class="fas fa-file-invoice"></i>
                                        <a href=""> Factures

                                        </a>
                                    </li>
                                    <li class="submenu">
                                        <a>
                                            <i class="fas fa-users"></i> Clients
                                            <i class="fas fa-chevron-right"></i>
                                        </a>
                                        <ul class="submenu-content">
                                            <li>
                                                <a href="">
                                                    Alta de Client
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    Visualitzar Clients
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="submenu">
                                        <a>
                                            <i class="fas fa-user-tie"></i> Empleats
                                            <i class="fas fa-chevron-right"></i>
                                        </a>
                                        <ul class="submenu-content">
                                            <li>
                                                <a href="">
                                                    Alta Administratius
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    Alta Administradors
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="submenu">
                                        <a>
                                            <i class="fas fa-truck"></i> Proveidors
                                            <i class="fas fa-chevron-right"></i>
                                        </a>
                                        <ul class="submenu-content">
                                            <li>
                                                <a href="">
                                                    Alta Proveidor
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    Visualitzar Proveidors
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="submenu">
                                        <a href="">
                                            <i class="fas fa-shopping-cart"></i> Comandes

                                        </a>
                                    </li>
                                    <li class="submenu">
                                        <a>
                                            <i class="fas fa-car"></i> Vehicles
                                            <i class="fas fa-chevron-right"></i>
                                        </a>
                                        <ul class="submenu-content">
                                            <li>
                                                <a href="">
                                                    Alta Vehicle
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    Visualitzar Vehicles
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

{% include '_header_back_3.html.twig' %}

<main>
    <div class="container-fluid">
        <div class="row">
            {% include '_aside_back_3.html.twig' %}
            <div class="col-10">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
</main>



<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="footerContent">
                    <img src="{{ asset('equip1/img/logoBHEC.png') }}" alt="logoFooter">
                    <h2>BHEC</h2>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>

</html>