<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BackOffice{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }} <!-- BOOSTRAP -->
    {% endblock %}

    <link rel="stylesheet" href="{{ asset('equip1/css/Normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('equip1/css/grid.css') }}">
    <link rel="stylesheet" href="{{ asset('equip1/css/variables.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="{{ asset('equip1/css/backend-skeleton.css') }}">
    <link rel="stylesheet" href="{{ asset('equip1/css/taules.css') }}">
    <link rel="stylesheet" href="{{ asset('equip1/css/modal.css') }}">
    <link rel="stylesheet" href="{{ asset('equip1/css/custom-styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="{{ asset('equip1/js/menu-burguer.js') }}" defer></script>
    <script src="{{ asset('equip1/js/menu_aside.js') }}" defer></script>
    <script src="{{ asset('equip1/js/modal.js') }}" defer></script>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

    {% endblock %}
</head>

<body>
{% include '_header_back_3.html.twig' %}

<main>
    <div class="container-fluid">
        <div class="row">
            {% include '_aside_back_3.html.twig' %}
            <div class="col-10">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
</main>

{% include '_footer_back_3.html.twig' %}

</body>

</html>