<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Encuentra una amplia selección de coches nuevos y usados en venta.
           Explora nuestro inventario de marcas populares y modelos, y encuentra el
           coche perfecto para ti. Ofrecemos opciones de financiamiento y entrega a domicilio.
           ¡Visítanos ahora para encontrar tu próximo coche!">
    <title>{% block title %}Front Office{% endblock %}</title>

    {# <--- Estilos ---> #}
    <link href="{{ asset('equip2/css/variables.css') }}" rel="stylesheet">
    <link href="{{ asset('equip3/css/custom-styles.css') }}" rel="stylesheet">

    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}


</head>


<body class="bg-quaternary-BHEC font">
{# HEADER #}
<header class="bg-primary-BHEC py-2" {{ vue_component('Header_front_component') }}></header>

{# FLASH MESAGGE #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
    {% endfor %}
{% endfor %}


<main class="container-fluid">

    {# MODAL #}
        <div {{ vue_component('Modal_component', {'user': app.user}) }}></div>

        {# CONTENT #}
        {% block body %}

        {% endblock %}
</main>
{# FOOTER #}
<footer class="container-fluid bg-primary-BHEC" {{ vue_component('Footer_front_component') }} ></footer>
</body>
</html>
