<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BackOffice{% endblock %}</title>

    {# <--- Estilos ---> #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="{{ asset('equip3/css/variables.css') }}">
    <link rel="stylesheet" href="{{ asset('equip3/css/modal.css') }}">
    <link rel="stylesheet" href="{{ asset('equip3/css/backend-skeleton.css') }}">

    {# <--- Scripts ---> #}
    <script src="{{ asset('equip3/js/menu-burguer.js') }}"></script>
    <script src="{{ asset('equip3/js/menu-burguer.js') }}"></script>
    <script src="{{ asset('equip3/js/menu_aside.js') }}"></script>
    <script src="{{ asset('equip3/js/modal.js') }}"></script>


    {% block javascripts %}
        {{ encore_entry_script_tags('app') }} {# Carga todos los componentes de VUE #}
    {% endblock %}
</head>

<body>
{# Header #}
{% include '_header_back_3.html.twig' %}

{# Secció de contingut principal #}
<main>
    <div class="container-fluid">
        <div class="row">
            {% include '_aside_back_3.html.twig' %} {# Aside de Back #}
            <article class="col-10">
                {% block body %}
                {% endblock %}
            </article>
        </div>
    </div>
</main>


<div id="menu-modal" class="menu-modal">
    <div class="menu-content">
        <a href="#" class="close-button" onclick="closeMenuModal()">&times;</a>
        <div class="user-info">
            <img src="{{ asset('equip3/img/usuari.png') }}" alt="Imagen de perfil">
            <div class="user-details">
                <h3>Tu Nombre</h3>
                <p>correo@example.com</p>
            </div>
        </div>
        <ul class="menu-links">
            <ul class="dropdown">
                <li><a href="{{ path('app_front_office') }}">Entrar a Front</a></li>
                <li><a href="{{ path('templates') }}">Entrar Backoffice</a></li>
                <li><a href="{{ path('app_cataleg') }}">Catalogo(temporal)</a></li>
            </ul>
            <ul class="dropdown">
                <li onclick=openAdmin()>Administració</li>
                <ul class="dropdown-content" id="administration-menu">
                    <li><a href="#">Configuració del compter usuari</a></li>
                    <li><a href="#">Configuració del compter administrador</a></li>
                    <li><a href="#">Cookies</a></li>
                </ul>
            </ul>
        </ul>
    </div>
    <div id="banda-amb-logo">
        <div id="rectangle-blau">
            <p id="titol-rectangle">BHEC</p>
            <div id="cercle-gris">
                <img src="{{ asset('equip3/img/logoBHEC.png') }}" alt="Imagen del semicírculo">
            </div>
        </div>
    </div>

    <div id="div-sessio">
        <ul>
            <li id="tancar-sessio"><a href="#">Tancar Sessió</a></li>
        </ul>
    </div>
</div>

{# Footer #}
{% include '_footer_back_3.html.twig' %}

</body>

</html>