{% extends 'base_back_3.html.twig' %}

{% block title %}Provider index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('equip3/css/Personal.css') }}">
{% endblock %}

{% block body %}
    <section>
        <div class="container-xl container-sm-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-center mt-5">
                        <h1>Proveïdors</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-0 mx-sm-auto" {{ vue_component('ProvidersList_component', { 'providers': providers, 'token': csrf_token('_token')  }) }}></div>

        {#  <div {{ vue_component('Tables_component', { 'data': data, 'config': config  }) }}></div> #}

        <div class="navigation d-flex justify-content-center mt-3 mb-3">
            {{ knp_pagination_render(pagination) }}
        </div>
    </section>
{% endblock %}
