{% extends 'base_back_3.html.twig' %}

{% block title %}Provider index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('equip3/css/Personal.css') }}">
{% endblock %}

{% block body %}
<section class="contingut col-10">
    <h1>Providers</h1>
    <div {{ vue_component('ProvidersList_component', { 'providers': providers, 'token': csrf_token('_token')  }) }}></div>

    {#  <div {{ vue_component('Tables_component', { 'data': data, 'config': config  }) }}></div>#}

    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(pagination) }}
    </div>

</section>
{% endblock %}
