{% extends 'base_3.html.twig' %}

{% block title %}FrontOffice{% endblock %}

{% block body %}
    <div class="container mt-4 mb-4">
        <h1 class="display-4 text-center">Benvingut a BHEC</h1>

        <div class="row">
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="#" class="btn btn-dark btn-block w-100">
                            <img src="{{ asset('/equip3/img/logos/ferrari.png') }}" alt="Ferrari">
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-light btn-block w-100">
                            <img src="{{ asset('/equip3/img/logos/bugatti.png') }}" alt="Bugatti">
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-light btn-block text-dark w-100">
                            <img src="{{ asset('/equip3/img/logos/peugeot.png') }}" alt="Peugeot">
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-light btn-block text-dark w-100">
                            <img src="{{ asset('/equip3/img/logos/eagle.png') }}" alt="Eagle">
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-light btn-block text-dark w-100">
                            <img src="{{ asset('/equip3/img/logos/barkas.png') }}" alt="Barkas">
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-light btn-block text-dark w-100">
                            <img src="{{ asset('/equip3/img/logos/samson.png') }}" alt="Samson">
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-light btn-block text-dark w-100">
                            <img src="{{ asset('/equip3/img/logos/bertone.png') }}" alt="Bertone">
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-light btn-block text-dark w-100">
                            <img src="{{ asset('/equip3/img/logos/geo.png') }}" alt="Geo">
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-light btn-block text-dark w-100">
                            <img src="{{ asset('/equip3/img/logos/lancia.png') }}" alt="Lancia">
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-light btn-block text-dark w-100">
                            <img src="{{ asset('/equip3/img/logos/mitsubishi.png') }}" alt="Mitsubishi">
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-light btn-block text-dark w-100">
                            <img src="{{ asset('/equip3/img/logos/mazda.png') }}" alt="Mazda">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="#" class="btn btn-light btn-block text-dark w-100">
                            <img src="{{ asset('/equip3/img/logos/gmc.png') }}" alt="GMC">
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-light btn-block text-dark w-100">
                            <img src="{{ asset('/equip3/img/logos/triumph.png') }}" alt="Triumph">
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-light btn-block text-dark w-100">
                            <img src="{{ asset('/equip3/img/logos/wuling.png') }}" alt="Wuling">
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-light btn-block text-dark w-100">
                            <img src="{{ asset('/equip3/img/logos/proton.png') }}" alt="Proton">
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-light btn-block text-dark w-100">
                            <img src="{{ asset('/equip3/img/logos/zimmer.png') }}" alt="Zimmer">
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-light btn-block text-dark w-100">
                            <img src="{{ asset('/equip3/img/logos/bristol.png') }}" alt="Bristol">
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-light btn-block text-dark w-100">
                            <img src="{{ asset('/equip3/img/logos/infinity.png') }}" alt="Infinity">
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-light btn-block text-dark w-100">
                            <img src="{{ asset('/equip3/img/logos/morris.png') }}" alt="Morris">
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-light btn-block text-dark w-100">
                            <img src="{{ asset('/equip3/img/logos/tata.png') }}" alt="TATA">
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-light btn-block text-dark w-100">
                            <img src="{{ asset('/equip3/img/logos/volkswagen.png') }}" alt="Volkswagen">
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-light btn-block text-dark w-100">
                            <img src="{{ asset('/equip3/img/logos/mahindra.png') }}" alt="Mahindra">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}