{% extends 'base_2.html.twig' %}

{% block title %}FrontOffice{% endblock %}

{% block body %}

    <div class="row image-header-BHEC d-flex align-items-center justify-content-center">
        <div class="col">
            <div>
                <div class="text d-flex flex-column justify-content-center text-center align-items-center">
                    <div class="d-flex flex-column justify-content-center position-relative">
                        <h2 class="fs-subtitle-BHEC fnt-tertiary-BHEC fm-special-BHEC ">Welcome</h2>
                        <h1
                                class="fm-primary-BHEC fw-bolder fs-title-BHEC position-absolute z-3 fnt-quaternary-BHEC">
                            BHEC</h1>
                    </div>
                    <div class="arrow-BHEC d-block">
                        <span class="arrow-left-BHEC"></span>
                        <i class="fas fa-asterisk fnt-tertiary-BHEC"></i>
                        <span class="arrow-right-BHEC"></span>
                    </div>
                    <div class="d-inline-block">
                                    <span
                                            class="fnt-quaternary-BHEC fm-primary-BHEC fw-lighter d-block text-center">Experiències
                                        que superen les expectatives,</span>
                        <span
                                class="fnt-quaternary-BHEC fm-primary-BHEC fw-lighter mb-3 d-block text-center">cotxes
                                        que superen els estàndards.</span>
                        <div class="button d-flex justify-content-center">
                            <a href="/catalogue"
                                    class="btn border-0 bg-quaternary-BHEC px-3 py-2 text-button-format-BHEC btn-tertiary-hover rounded-1 opacity-100" tabindex="1">
                                Explorar
                            </a>
                        </div>
                    </div>
                </div>
                <div>

                </div>
                <svg class="svg-down" width="192" height="61" version="1.1"
                     xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 160.7 61.5"
                     enable-background="new 0 0 160.7 61.5" xml:space="preserve">
                                <path fill="#e7e7e9"
                                      d="M80.3,61.5c0,0,22.1-2.7,43.1-5.4s41-5.4,36.6-5.4c-21.7,0-34.1-12.7-44.9-25.4S95.3,0,80.3,0c-15,0-24.1,12.7-34.9,25.4S22.3,50.8,0.6,50.8c-4.3,0-6.5,0,3.5,1.3S36.2,56.1,80.3,61.5z">
                                </path>
                            </svg>
                <div class="arrow-down">
                </div>
            </div>
        </div>
    </div>



    <!-- START ROW SEPARATOR -->
    <div class="row py-5">
        <div class="col-12 image-body2-BHEC">
            <div class="d-flex flex-column justify-content-center position-relative">
                <h3 class="fs-separator-subtitle-BHEC fnt-tertiary-BHEC fm-special-BHEC text-center">Qualitat</h3>
                <h2
                        class="fm-primary-BHEC fw-bolder fs-separator-title-BHEC position-absolute z-3 fnt-quaternary-BHEC">
                    BHEC</h2>
            </div>
        </div>
    </div>
    <!-- END ROW SEPARATOR -->


    <!-- START ROW CHOOSE YOUR BRAND-->

    <div class="row py-5">
        <div class="col-12 col-md-8 py-5">
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" tabindex="3"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" tabindex="5"
                            aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ asset('equip3/img/slider/1.jpg')}}" class="d-block w-100 rounded-1" alt="...">

                        <div
                                class="carousel-caption d-flex flex-column h-100 align-items-center justify-content-center bottom-0">
                            <h2 class="bg-dark bg-opacity-50 py-2 px-4">Troba qualitat i valor en cada
                                quilòmetre</h2>
                            <p class="bg-dark bg-opacity-50 py-2 px-4 d-none d-md-block">Explorar el vehícles de
                                gamma d'entrada
                            </p>
                            <a href="/catalogue"
                               class="btn btn-tertiary-outline-BHEC fnt-tertiary-BHEC text-button-format-BHEC btn-tertiary-hover px-4 py-2 rounded-0 opacity-100" tabindex="2">Explorar</a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('equip3/img/slider/2.jpg')}}" class="d-block w-100 rounded-1" alt="...">
                        <div
                                class="carousel-caption d-flex flex-column h-100 align-items-center justify-content-center bottom-0 ">
                            <h2 class="bg-dark bg-opacity-50 py-2 px-4">Descobreix l'elegància en moviment</h2>
                            <p class="bg-dark bg-opacity-50 py-2 px-4 d-none d-md-block">Explorar el vehícles de
                                gamma mitja</p>
                            <a href="/catalogue"
                               class="btn btn-tertiary-outline-BHEC fnt-tertiary-BHEC text-button-format-BHEC btn-tertiary-hover px-4 py-2 rounded-0 opacity-100" tabindex="4">Explorar</a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('equip3/img/slider/3.jpeg')}}" class="d-block w-100 rounded-1" alt="...">
                        <div
                                class="carousel-caption d-flex flex-column h-100 align-items-center justify-content-center bottom-0">
                            <h2 class="bg-dark bg-opacity-50 py-2 px-4">Experimenta el cim del rendiment i
                                l'elegància</h2>
                            <p class="bg-dark bg-opacity-50 py-2 px-4 d-none d-md-block">Explorar el vehícles de
                                gamma d'èlit, on
                                el luxe i el rendiment es fusionen</p>
                            <a href="/catalogue"
                               class="btn btn-tertiary-outline-BHEC fnt-tertiary-BHEC text-button-format-BHEC btn-tertiary-hover px-4 py-2 rounded-0 opacity-100" tabindex="6">Explorar</a>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Següent</span>
                </button>
            </div>
        </div>

        <div class="col-12 col-md-4 py-3 my-auto" tabindex="7">
            <h2 class="fs-1 fm-primary-BHEC text-center d-md-none">Troba la teua marca preferida</h2>
            <h2 class="d-none fs-3 fm-primary-BHEC text-center d-md-block">Troba la teua marca preferida</h2>
            <div class="row">
                <div class="col-6 d-flex flex-column justify-content-center" tabindex="8">
                    {% for brand in brands|slice(0, brands|length/2) %}
                    <div class="p-1">
                            <a href="{{ path('app_catalogue_index', {'q': brand.name}) }}" class="btn border-0 bg-secondary-BHEC px-3 py-2 text-button-format-BHEC btn-tertiary-hover w-100 rounded-1 opacity-100" tabindex="{{ loop.index }}">
                                {{ brand.name }}
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <div class="col-6 d-flex flex-column justify-content-center" tabindex="9">
                    {% for brand in brands|slice(brands|length/2) %}
                        <div class="p-1">
                            <a href="{{ path('app_catalogue_index', {'q': brand.name}) }}" class="btn border-0 bg-secondary-BHEC px-3 py-2 text-button-format-BHEC btn-tertiary-hover w-100 rounded-1 opacity-100" tabindex="{{ loop.index }}">
                                {{ brand.name }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>


    <!-- START ROW SEPARATOR -->
    <div class="row py-5">
        <div class="col-2 px-3">
            <div class="image-body1-BHEC">

            </div>
        </div>

        <div class="col-8 image-body1-BHEC px-2">
            <div class="d-flex flex-column justify-content-center position-relative">
                <h3 class="fs-separator-subtitle-BHEC fnt-tertiary-BHEC fm-special-BHEC text-center">Sobre</h3>
                <h2
                        class="fm-primary-BHEC fw-bolder fs-separator-title-BHEC position-absolute z-3 fnt-quaternary-BHEC">
                    BHEC</h2>
            </div>
        </div>
        <div class="col-2 px-3">
            <div class="image-body1-BHEC">

            </div>
        </div>
    </div>
    <!-- END ROW SEPARATOR -->


    <div class="row p-5">
        <div class="col-12 col-md-4 zoom-on-hover pb-3" tabindex="35">
            <div class="card w-100 border-0 shadow h-100" aria-label="Assistència">
                <div class="d-flex flex-column justify-content-center align-items-center p-2">
                    <i class="bi bi-person-circle fs-big-icons-BHEC"></i>
                    <h3 class="text-center">Assistència</h3>
                    <p class="text-center">Comptem amb un equip d'assistència tècnica dedicat a la teva
                        satisfacció. Si tens algun problema, envia'ns un correu aquí.</p>
                </div>
                <div class="mt-auto mx-auto p-2">
                    <a href="/contact" class="text-decoration-none fnt-tertiary-BHEC fs-5" aria-label="Contacta'ns" tabindex="36">
                        <i class="bi bi-envelope"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 zoom-on-hover pb-3" tabindex="37">
            <div class="card w-100 border-0 shadow h-100" aria-label="Servei d'Entregues">
                <div class="d-flex flex-column justify-content-center align-items-center p-2">
                    <i class="bi bi-truck fs-big-icons-BHEC"></i>
                    <h3 class="text-center">Servei d'Entregues</h3>
                    <p class="text-center">Comptem amb un equip de lliurament dedicat a fer arribar els teus
                        productes puntualment. Si tens alguna consulta sobre els enviaments, no dubtis a
                        contactar-nos.</p>
                </div>
                <div class="mt-auto mx-auto p-2">
                    <a href="/contact" class="text-decoration-none fnt-tertiary-BHEC fs-5" aria-label="Contacta'ns" tabindex="38">
                        <i class="bi bi-envelope"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 zoom-on-hover pb-3" tabindex="39">
            <div class="card w-100 border-0 shadow h-100" aria-label="Confiança i Legitimitat">
                <div class="d-flex flex-column justify-content-center align-items-center p-2">
                    <i class="bi bi-patch-check fs-big-icons-BHEC"></i>
                    <h3 class="text-center">Confiança i Legitimitat</h3>
                    <p class="text-center">Som una empresa fiable i legítima, compromesa amb la qualitat i la
                        transparència en tots els nostres serveis. Pots confiar en nosaltres per a fer les teves
                        compres amb total seguretat.</p>
                </div>
                <div class="mt-auto mx-auto p-2">
                    <a href="/contact" class="text-decoration-none fnt-tertiary-BHEC fs-5 " aria-label="Contacta'ns" tabindex="40">
                        <i class="bi bi-envelope "></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}