{% extends 'base_back_2.html.twig' %}

{% block title %}Order{% endblock %}


{% block body %}
    <section class="contingut m-4">
        <h1 class="text-center">Order Details</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th class="bg-tertiary-BHEC" scope="row">Customer name</th>
                    <td>{{ order.customer.name }}</td>
                </tr>
                <tr>
                    <th class="bg-tertiary-BHEC" scope="row">State</th>
                    <td>{{ order.state }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <div class="mt-3">
        <a href="{{ path('app_order_index') }}" class="btn btn-secondary">Back to List</a>
        <a href="{{ path('app_order_edit', {'id': order.id}) }}" class="btn btn-primary">Edit</a>
        {{ include('order/_delete_form.html.twig') }}
    </div>
{% endblock %}
