{% extends 'base_2.html.twig' %}
{% block title %} Catàleg {% endblock %}

{% block body %}
    <div class="container-xl container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center mt-3 mb-3">
                    <h1>Catàleg</h1>
                </div>
                <form method="GET" role="search">
                    <div class="d-flex d-flex justify-content-center mb-3">
                        <input name="q" type="search" class="rounded-start-pill border border-secondary-subtle ps-3"
                               placeholder="Buscar..." aria-label="Search">
                        <button type="submit" class="border border-0 rounded-end-pill button-searcher-BHEC p-2"><i
                                    class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


        {% if q %}
            <h2>Mostrant el resultat de la cerca: {{ q }}</h2>
        {% endif %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            {% for vehicle in vehicles %}
                {% if vehicle.vehicleOrder is null or vehicle.vehicleOrder.state != 'Tancat' %}
                    <div class="col-xl-3 col-12 mb-xl-2">
                        <div class="card mt-2 mb-2 border border-1 border-light rounded-3 overflow-hidden ">
                            <div class="rounded-2 w-100 overflow-hidden ">

                                <div id="carouselImagesVehicles_{{ vehicle.id }}" class="carousel slide w-100">
                                    <div class="carousel-indicators">
                                        {% for key, image in vehicle.images %}
                                            <button type="button"
                                                    data-bs-target="#carouselImagesVehicles_{{ vehicle.id }}"
                                                    data-bs-slide-to="{{ key }}"
                                                    {% if loop.first %}class="active"{% endif %}
                                                    aria-label="Slide {{ loop.index }}"></button>
                                        {% endfor %}
                                    </div>
                                    <div class="carousel-inner">
                                        {% for image in vehicle.images %}
                                            <div class="carousel-item{{ loop.first ? ' active' }}">
                                                <img src="{{ asset("/equip3/img/vehicles/" ~ image.filename) | imagine_filter('vehicle_lowres') }}"
                                                        {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                                                            src: asset("/equip3/img/vehicles/" ~ image.filename) | imagine_filter('vehicle_thumb')
                                                        }) }}

                                                     class="d-block w-100 object-fit-cover rounded-top"
                                                     alt="image {{ vehicle.model.name }}">
                                            </div>
                                        {% endfor %}

                                    </div>
                                    <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselImagesVehicles_{{ vehicle.id }}"
                                            data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselImagesVehicles_{{ vehicle.id }}"
                                            data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                            <div class="des-vehicle p-3 rounded-5">
                                <p class="name-vehicle text-center mt-3 fs-5 fw-bold">{{ vehicle.model.brand.name }} {{ vehicle.model.name }} </p>
                                <div class="data-vehicle d-flex justify-content-around p-3 rounded-3">
                                    <div>
                                        <p class="price-vehicle mt-1 text-center fs-5 fw-bold">{{ vehicle.sellPrice }}
                                            €</p>
                                    </div>
                                    <div>
                                        <p class="km-vehicle mt-1 text-center fs-6"> {{ vehicle.kilometers }}km</p>
                                    </div>
                                </div>
{# {% if vehicle.vehicleOrder is not null and vehicle.vehicleOrder.state == 'Pendent' %}
                                    <div class="vehicle-add text-center pt-2 pb-2">
                                        <a class="vehicle-add-button-disabled px-3 py-2 rounded-2 text-decoration-none">Reservat</a>
                                    </div>
                                {% else %}
                                    <div class="vehicle-add text-center pt-2 pb-2">
                                        <a class="vehicle-add-button px-3 py-2 rounded-2 text-decoration-none"
                                           href="{{ path('app_catalogue_add_vehicle', {'id': vehicle.id }) }}">Afegir</a>
                                    </div>
                                {% endif %}#}


                               {% if vehicle.vehicleOrder is not null and vehicle.vehicleOrder.state == 'Pendent' %}
                                    <div class="vehicle-add text-center pt-2 pb-2">
                                        <p class="btn btn-secondary">Reservat</p>
                                    </div>
                                {% else %}
                                    <div class="vehicle-add text-center pt-2 pb-2">
                                        <a class="btn button-primary-BHEC" href="{{ path('app_api_pending_orders', {'id': vehicle.id }) }}" data-controller="vehicle-add" data-action="click->vehicle-add#addVehicle" data-target="vehicle-add.button">
                                            Afegir
                                        </a>

                                    </div>
                                {% endif %}


                                <div class="vehicle-details text-center pt-2 pb-2">
                                    <a class="btn btn-secondary"
                                       href="{{ path('app_detail', {'id': vehicle.id }) }}">Especificacions</a>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endif %}

            {% else %}
                <h2>No s'ha trobat res</h2>

            {% endfor %}
        </div>
    </div>
    <div class="navigation d-flex justify-content-center mt-lg-3">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}