{% extends 'base_3.html.twig' %}
{% block title %} Cataleg {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('equip3/css/cataleg.css') }}">
{% endblock %}
{% block body %}
    <h1 class="col-12 ">Cataleg</h1>
    <form method="GET" class="col-12 col-lg-auto mb-3 mb-lg-0 mx-lg-5 mb-lg-1" role="search">
        <input name="q" type="search" class="form-control form-control-light text-dark justify-content-center"
               placeholder="Buscar..." aria-label="Search">
    </form>

    {% if q %}
        <h2>Mostrant el resultat de la cerca: {{ q }}</h2>
    {% endif %}
    <div class=" container-fluid d-flex flex-wrap gap-5 justify-content-center  p-5 bg-#f5f5f5">
        {% for vehicle in vehicles %}
            {% if vehicle.vehicleOrder == null %}
                <div class="row g-1">
                    <div class="vehicle   mb-2 border border-1 border-light rounded-3 overflow-hidden ">
                        <div class="img-vehicle rounded-2 w-100 overflow-hidden ">

                            <div id="carouselExampleIndicators_{{ vehicle.id }}" class="carousel slide w-100">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleIndicators_{{ vehicle.id }}"
                                            data-bs-slide-to="0"
                                            class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators_{{ vehicle.id }}"
                                            data-bs-slide-to="1"
                                            aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators_{{ vehicle.id }}"
                                            data-bs-slide-to="2"
                                            aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    {% for image in vehicle.images %}
                                        <div class="carousel-item{{ loop.first ? ' active' }}">
                                            <img src="{{ asset("/equip3/img/vehicles/" ~ image.filename) }}"
                                                 class="d-block w-100 object-fit-cover rounded-top"
                                                 alt="image {{ vehicle.model.name }}">
                                        </div>
                                    {% endfor %}

                                </div>
                                <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleIndicators_{{ vehicle.id }}"
                                        data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleIndicators_{{ vehicle.id }}"
                                        data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                        <div class="des-vehicle p-3 rounded-5">
                            <p class="name-vehicle text-center mt-3 fs-5 fw-bold">{{ vehicle.model.brand.name }} {{ vehicle.model.name }} </p>
                            <div class="data-vehicle d-flex justify-content-around p-3 rounded-3">
                                <div><p class="price-vehicle mt-1 text-center fs-5 fw-bold">{{ vehicle.sellPrice }}€</p>
                                </div>
                                <div><p class="km-vehicle mt-1 text-center fs-6"> {{ vehicle.kilometers }}km</p></div>
                            </div>
                            <div class="vehicle-add text-center pt-2 pb-2">
                                <a class="vehicle-add-button px-3 py-2 rounded-2 text-decoration-none"
                                   href="{{ path('app_catalogue_add_vehicle', {'id': vehicle.id }) }}">Afegir</a>
                            </div>
                            <div class="vehicle-details text-center pt-2 pb-2">
                                <a class="vehicle-details-button px-3 py-2 rounded-2 text-decoration-none"
                                   href="{{ path('app_detail', {'id': vehicle.id }) }}">Especificacions</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        {% else %}
            <h2>No s'ha trobat res</h2>

        {% endfor %}
    </div>
    <div class="navigation d-flex justify-content-center mt-lg-3">

        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}